body {
  text-align: center;
  margin: 0;
  font-family: "Merriweather", serif;
}

h1,
h2 {
  color: #66bfbf;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  color: #11999e;
}

hr {
  width: 9%;
  border: 10px dotted #c5f8f8;
  border-bottom: none;
}

p {
  line-height: 2;
}

/* Re-usable Class */
.initial-padding {
  padding: 90px 15px;
}

/* Main Styles */
.top-container {
  background-color: #e4f9f5;
  padding-top: 6.25rem;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 25%;
  top: 5%;
}

.bottom-cloud {
  position: absolute;
}

.profile {
  width: 30%;
  margin: 0 auto;
}

.skill-row {
  width: 55%;
  margin: 0 auto;
  display: flex;
}

.skill-one-img,
.skill-two-img {
  width: 20%;
}

.skill-one-img {
  margin-right: 30px;
}

.skill-two-img {
  order: 1;
  margin-left: 25px;
}

/* .skill-row :is(h3, p) {
    text-align: left;
} */

.skill-row h3,
.skill-row p {
  text-align: left;
}

.skills .skill-row:first-of-type {
  margin-bottom: 5.625rem;
}

.contact {
  width: 40%;
  margin: 0 auto;
}

.btn {
  background-color: #11cdd4;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  border-radius: 10px;
  margin-top: 30px;
  display: inline-block;
}

.btn:hover {
  background-color: #30e3cb;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.bottom-container p {
  color: #eee;
}

.bottom-container a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
}

.bottom-container a:hover {
  color: #eee;
}
/* Medium devices - Tablets 820px */
@media screen and (max-width: 51.25rem) {
  .mountain {
    display: block;
    width: 70%;
    margin: auto;
  }

  h1 {
    margin: 30px 0;
  }

  .bottom-cloud {
    left: 5%;
  }

  .profile {
    width: 50%;
  }

  .skill-row {
    flex-direction: column;
    width: 80%;
  }

  .skill-one-img,
  .skill-two-img {
    width: 30%;
    margin: auto;
  }

  .skill-two-img {
    order: 0;
  }

  .skill-row p,
  .skill-row h3 {
    text-align: center;
  }

  .contact {
    width: 50%;
  }
}

/* Small devices - smartphones etc 480px*/
@media screen and (max-width: 30rem) {
  .mountain,
  .profile-img {
    display: block;
    width: 100%;
  }

  .profile {
    width: 80%;
  }

  .skill-one-img,
  .skill-two-img {
    width: 50%;
  }

  .contact {
    width: 80%;
  }
}
